<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

<div class="sidebar-item" id="social">
  <ul>
    <li>
      <a href="{{ site.github.url }}" target="_blank">
        <img src="/assets/GitHub-Mark-Light-120px-plus.png" style="max-height: 40px; max-width: 40px;"/>
      </a>
    </li>
    <li>
      <a href="{{ site.twitter.url }}" target="_blank">
        <img src="/assets/098176-black-white-pearl-icon-social-media-logos-twitter-logo-square.png" style="max-height: 75px; max-width: 75px;"/>
      </a>
    </li>
    <li>
      <a href="{{ site.linkedin.url }}" target="_blank">
        <img src="/assets/098126-black-white-pearl-icon-social-media-logos-linkedin-logo-square.png" style="max-height: 75px; max-width: 75px;"/>
      </a>
    </li>
  </ul>
</div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
